Package: dhcp-cli-management-tool
Version: 1.0
Section: admin
Priority: optional
Architecture: all
Maintainer: Javier Angelelli <angelellij@gmail.com>
Depends: isc-dhcp-server
Description: DHCP CLI Management Tool
 Provides simple commands to manage DHCP static ips and configuration for non-savy CLI users.
